/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
overflow-y: scroll;
height: 100%;
width: 100%;
}

body {
background-color: #e4d9df;
margin: 0px;
}

ul {
    list-style-type: none;
}
/*SPLASH*/

.splash-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    background-color: #333132;
    height: 100vh;
    transition: 5000ms;
}

.hide {
    display: none;
    transition: 5000ms;
}

.flex-item {
    align-self: center;
    width: auto;
    max-width: 20vw;
}

#splash-art {
    max-width: 20vw;
    margin-bottom: 2em;
    transition:750ms;
}

#splash-art:hover {
    transform: scale(1.1);
    opacity: .75;
}

#splash-header {
    font-family: 'alverata_irregularsemibold';
    font-size: 4vw;
    letter-spacing: .2em;
    color: #f8f8f8;
}

#splash-body {
    font-family: 'alverata_irregularlight';
    font-size:  .5em;
    letter-spacing: .2em;
    color: #f8f8f8;
}

/*nav*/

.nav-flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    float: left;
    position: fixed;
    width: 25%;
    height: 100%;/*
    background-color: purple;
    background-color: rgba(255,255,255,.1);*/
}

#nav a {
    text-decoration: none;
    color: rgba(51, 49, 50, .5);
    transition: 750ms;
}

#nav a:hover {
    color: rgba(51, 49, 50, 1);
    font-size: 14pt;
}

#merch {

    color: rgba(51, 49, 50, .1);

}

.nav-list-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    text-align: right;
    line-height: 2em;
    letter-spacing: .05em;
}

/*home*/

#iqn {
    display: flex;
    align-items: center;
    justify-content: center;/*
    background-color: red;*/
    height: 100vh;
    width: 75%;
    float: right;
}

/*music*/

#music {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 75%;
    float: right;
    overflow: none;
    padding-left: 2em;
}

.player {
    display: inline-flex;
    width: 300px;
    height: 280px;
    padding-top: 1em;
}

#spotify {
    padding-right: 2em;
}

#apple {
   padding-right: 2em;
}

#soundcloud {

}

#bandcamp {
    padding-top: 2em;
}

.header {
    font-family: 'alverata_irregularsemibold';
    line-height: 1em;
    font-size: 24pt;
    color: #f8f8f8;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;
    font-size: 12pt;
    letter-spacing: 1pt;
    color: rgba(248, 248, 248, .75);
}

hr {
    border-color: #f8f8f8;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*artists*/

#artists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 75%;
    float: right;
    overflow: none;
    padding-left: 2em;
}


.artist {
}

#areight {
display: inline-flex;
width:450px;
}

#ignoble {
display: inline-flex;
width: 450px
}

.name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 1pt;
    color:#333132;
    padding-bottom: 1em;
    font-size: 18pt;
}
/*about*/

#about {
    display: flex;
    align-items: center;
    justify-content: center;/*
    background-color: green;*/
    height: 100vh;
    width: 75%;
    float: right;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
